.dropzone {
	/*width: 100px;*/
	height: 600px;
	width: 45%;
	display: inline-block;
	overflow:scroll;

}

.left {
/*	z-index: 2;*/
	width: 45%;
	display: inline-block;
}

.right {
/*	z-index: 1;*/
	width: 45%;
	display: inline-block;
}

.diff {
	color: red;
}